@use './typography' as *;

// MAIN TYPEFACE

$main-typeface: "Titillium Web", Arial, Helvetica, sans-serif;


// COLOURS

// PRIMARY
$instock-black: #13182C;
$instock-indigo: #2E66E5;
$white: #FFFFFF;

// SECONDARY
$slate: #5C667E;
$cloud: #BDC5D5;

// BACKGROUND
$graphite: #232940;
$light-grey: #F7F8F9;

// SUPPORTING
$green: #158463;
$red: #C94515;


// MEDIA QUERIES

$tablet-breakpoint: 47.938rem; /* 767px */
$desktop-breakpoint: 80rem; /* 1280px */


// MARGINS

$mobile-margin: 0 1rem;
$tablet-margin: 0 2rem;
$desktop-margin: 0 auto;

//Other styles
$divider: 1px solid $cloud;
$border-radius: 1.25rem;