@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-color: $graphite;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }

    @include desktop {
        padding: 2rem 7rem;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__logo{
        width: 8.037rem;
        padding-top: 1rem;

        @include tablet {
            padding: 0;
        }
    }

    &__nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;

        @include tablet {
            gap: 1.5rem;
            padding: 0;
        }
    }

    &__nav-link {
        color: $white;

        &--inactive {
            color: $cloud;
        }
       
        &:hover {
            text-decoration: underline;
        }
    }

    &__active-nav-item {
        background: $instock-black;
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.25rem;
        width: 50%;

        @include tablet {
            padding: 0 1rem;
        }
    }

    &__inventory {
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.25rem;
        width: 50%;
    }

}