@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.header {
    background-color: $graphite;

    &__container {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;
            margin: $tablet-margin;
        }
    
        @include desktop {
            margin: $desktop-margin;
            width: 80%;
        }
    }

    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__logo{
        width: 8.037rem;
        padding-top: 1rem;

        @include tablet {
            padding: 0;
        }
    }

    &__nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 1rem 0 1rem;

        @include tablet {
            gap: 1.5rem;
            margin: 0;
        }
    }

    &__nav-link {
        color: $white;
        font-size: 0.813rem;

        &--inactive {
            color: $cloud;
        }
       
        &:hover {
            text-decoration: underline;
        }
    }

    &__active-nav-item {
        background: $instock-black;
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        width: 50%;

        @include tablet {
            padding: 0 1rem;
            width: 100%;
        }
    }

    &__inventory {
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        width: 50%;
    }

    &__extender {
        height: 6.25rem;
        width: 100%;
        position: relative;
    }

}